<div id="cookie-notice" class='hidden'>
  <div class="cookie-notice-container">
    <span id="cn-notice-text" class="cn-text-container">
      {{ settings.cookie_txt }}</span>
    <span id="cn-notice-buttons" class="cn-buttons-container">
      <a href="#" id="cn-accept-cookie" data-cookie-set="accept" class="cn-set-cookie cn-button btn btn-primary">{{ 'general.cookie.button' | t }}</a>
    </span>
    <a href="javascript:void(0);" id="cn-close-notice" data-cookie-set="accept" class="cn-close-icon" aria-label="Accept"></a>
  </div>

</div>