.rb-image-wtih-text{
    background: #F4EEE8;
    position: relative;
    padding: 100px 0 135px;
}


.image-box__wrap .img-wrap{
    border-radius: 20px;
    background: var(--White, #FFF);
    box-shadow: 0px 0px 64px 0px rgba(0, 0, 0, 0.12);
    width: 400px;
    margin:  0 auto;
    text-align: center;
    position: relative;
}

.shape-red{
    position: absolute;
    top: -15px;
    right: -15px;
}

.image-inner-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-box__wrap{
    width: calc(100% - 400px);
}

.text-box__heading{
    color: var(--www-redbarn-com-bunker, #11181F);
/* Heading 2 */
font-family: ChunkFive;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 57.6px */
letter-spacing: 0.001px;
text-transform: uppercase;
margin-bottom: 24px;
max-width: 550px;
}

.text-box__content{
    margin-bottom: 70px;
    max-width: 402px;
}

.text-box__content p:last-child{
    margin-bottom: 0;
}

.image-box__wrap .img-wrap img{
    margin: 0 auto;
}

.dogs-imge{
    max-width: 284px;
    margin: 0 auto;
    position: absolute;
    left: 33.8%;
    bottom: 0;
}

.dogs-imge img{
    margin-bottom: 0;
}
@media screen and (min-width:1441px) {
    .dogs-imge{
        left: 37.8%;
    }
}

@media screen and (max-width:992px) {
    .dogs-imge {
        display: none;
     }
}

@media screen and (max-width:768px) {

    .text-box__btn{
        max-width: 100%;
        width: 100%;
    }


    .rb-image-wtih-text {
        padding: 48px 0;
    }
    
.image-inner-flex {
    flex-direction: column-reverse;
    gap: 40px;
}
.text-box__heading{
    font-size: 30px;
    margin-bottom: 24px;
    max-width: 100%;
}
.text-box__content {
    margin-bottom: 32px;
    max-width: 100%;
}

.text-box__wrap {
    width: 100%;
}
.image-box__wrap .img-wrap{
    width: auto;
    min-width: 342px;
}

.image-box__wrap .img-wrap img {
    max-height: 240px;
}

}

@media screen and (max-width:576px) {
    .image-inner-flex {
        gap: 32px;
    }

}