.customer-review {
  background: #f4eee8;
  padding: 100px 0;
  overflow: hidden;
}

.customer-review__section-heading {
  color: var(--www-redbarn-com-bunker, #11181f);
  /* Heading 2 */
  font-family: ChunkFive;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 57.6px */
  letter-spacing: 0.001px;
  text-transform: uppercase;
  margin-bottom: 48px;
  text-align: center;
}

.customer-review__box {
  display: flex;
  align-items: stretch;
  max-width: 813px;
  margin: 0 auto;
  border-radius: 20px;
  background: var(--White, #fff);
  box-shadow: 0px 0px 64px 0px rgba(0, 0, 0, 0.12);
}

.customer-review__imge-wrap {
  flex: 0 0 calc(100% - 360px);
  display: flex;
  background: var(--White, #fff);
  border-radius: 20px 0 0 20px;
}

.customer-review__content-box {
  border-radius: 0px 20px 20px 0px;
  border-left: 1px solid rgba(179, 40, 45, 0.2);
  background: var(--White, #fff);
  padding: 24px;
}

.customer-review__author {
  color: var(--Black, #000);

  /* Heading 3 */
  font-family: ChunkFive;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 28.8px */
  letter-spacing: 0.001px;
  margin-bottom: 8px;
}

.customer-review__varify {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 24px;
}

.customer-review__varify span {
  display: flex;
}

.customer-review__heading {
  color: #b3282d;

  /* Heading 3 */
  font-family: ChunkFive;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 28.8px */
  letter-spacing: 0.001px;
  margin-bottom: 16px;
}

.customer-review__text {
  color: var(--Black, #000);

  /* Body Text */
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  margin-bottom: 24px;
}

.customer-review__text p {
  font-family: Heebo;
  font-size: 16px;
}

.customer-review__text p:last-child {
  margin-bottom: 0;
}

.customer-review__imge-wrap img {
  margin-bottom: 0;
}

.customer-review__item {
  margin: 0 20px;
  opacity: 0.2;
}

.customer-review__slider .slick-list {
  overflow: visible;
  padding: 0 !important;
}

.customer-review__item.slick-current.slick-active.slick-center {
  opacity: 1;
}

.customer-review__slider .slick-dots {
  margin: 48px 0 0;
}

.customer-review__slider .slick-arrow {
  top: 40%;
}

.customer-review__slider .slick-prev-btn {
  left: 22%;
}
.customer-review__slider .slick-next-btn {
  right: 22%;
}

@media screen and (max-width: 1367px) {
    .customer-review__slider .slick-prev-btn {
        left:10%;
     }
     .customer-review__slider .slick-next-btn {
        right: 10%;
     }

}
@media screen and (max-width: 1024px) {
    .customer-review__slider .slick-prev-btn {
        left: 3%;
    }
    .customer-review__slider .slick-next-btn {
        right: 3%;
     }
}
@media screen and (max-width: 991px) {
      .customer-review__slider .slick-arrow {
        top: auto;
        bottom: 4px;
       }
       .customer-review__slider .slick-prev-btn {
         left: 25%;
      }
      .customer-review__slider .slick-next-btn {
         right: 25%;
      }
      .customer-review__item {
       margin: 0;
       opacity: 0;
     }
}

@media screen and (max-width: 768px) {
  .customer-review__imge-wrap img {
    max-height: 200px;
    object-fit: cover;
}

  .customer-review__list {
    padding: 0 16px;
  }
  .customer-review {
    padding: 48px 0;
  }

  .customer-review__section-heading {
    font-size: 32px;
    line-height: 120%; /* 38.4px */
  }

  .customer-review__box {
    flex-direction: column;
    align-items: center;
  }

  .customer-review__content-box {
    border-radius: 0 0 20px 20px;
    border-top: 1px solid rgba(179, 40, 45, 0.2);
    border-left: 0;
    padding: 24px;
  }

  .customer-review__imge-wrap {
    border-radius: 20px 20px 0 0;
  }

  .customer-review__text {
    margin-bottom: 16px;
  }

  .customer-review__rating svg {
    width: 96px;
  }
  .customer-review__slider .slick-prev-btn {
    left: 15%;
 }
 .customer-review__slider .slick-next-btn {
    right: 15%;
 }
}
